
<html>

<body class="fundo_home" >
  <div class="container ">
    <div class="row">
      <div class=" col-md-12">

        <div class="page-header">
          <h1 class="cor_titulo cor_fundo_titulo">Pratico&Fresco

              <button type="button" class="btn btn-warning btn-lg pull-right">
                <span class="glyphicon glyphicon-user"></span>Faca seu login
              </button>

          <p class="tamanho_slogan">Seu supermercado online</p>
          </h1>
        </div>

      </div>
    </div>

    <div class="row">
        <div class="col-md-12">
          <div class="col-md-8">
            <div class="panel ">
              <div class="panel-heading negrito_centro">O que e Pratico&Fresco?
              </div>
              <div class="panel-body">
                <br>Pratico&Fresco e um servico de compras online, que garante produtos de qualidade na porta de sua casa.</br>
                <br>Nosso objetivo e fazer voce realizar suas compras de casa ou do trabalho sem perder a qualidade dos produtos que voce compra no seu supermercado favorito.</br>
                <br> Voce paga com cartao de credito quando recebe a compra na sua casa.</br>
                <P>O que esta esperando? Entre no mundo da conveniencia e qualidade.</p>
                <!--<p><a class="btn btn-warning btn-lg">Aprenda mais</a></p> -->
              </div>
          </div>
        </div>

        <div class="col-md-4">
            <div class="panel ">
              <div class="panel-heading negrito_centro">Cliente novo?
              </div>
              <div class="panel-body">
                <br>Junte-se ao nosso outros clientes e tenha as compras no conforto de sua casa.</br>
                <br>Clique no botao abaixo e boas compras</br>
                <p></p>
                <p><%= link_to 'Comece aqui', new_user_url, class: "btn btn-warning btn-lg"  %> </p>
                  
              </div>
          </div>
        </div>

    </div>
  </div>
</body>
</html>
